
.header{
    height: 120px;
    background-image: linear-gradient(0,#f05e36,#f43926);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 5px 0 0 0;
}
.header__navbar-item{
    display: inline-block;
    margin: 0 9px;
    padding-bottom: 5px;
    position: relative;
}
.header__navbar-item--hidden-qr:hover .header__qr{
    display: block;    
}

.header__navbar-item,
.header__navbar-item-link{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
    
    font-weight: 300;
}
.header__navbar-list,
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link
{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255,255,255, 0.7);
}
.header__navbar-item--bold{
    font-weight: 450;
}
.header__navbar-item-separate::after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: rgb(220, 245, 223);
    right: -11px;
    top: 0; 
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
    margin-right:5px;
}
.header__navbar-icon-link:hover{
    color: rgba(255,255,255, 0.7);
}
.header__navbar-icon{
    font-size: 1.8rem;
}
.fa-facebook{
    margin-left: 8px;
}
.header__navbar-item--no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* QR x=185-y=245 */
/* Xử lý Header QR Code */
.header__qr{
    background-color: #52b4db;
    width: 200px;
    height: 245px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 5px;
    display: none;
    animation: moveBottom 2s infinite, fadeIn 1s ease-in;
}
.header__qrcode-img{
    width: 100%;
}
.header__qr-link-app-out{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    
}
.header__qr-link-app-out-appstore{
    height: 18px;
    margin-left: 2px;
    margin-right: 7px;
    margin-bottom: 5px;
}
.header__qr-link-app-out-gg_play{
    height: 18px;
}
.header__qr-link-app-out-app_galely{
    height: 16px;
}
/* Bảng thông báo của quả chuông khi đưa trỏ chuột vào "Thông Báo" */
.header__notify{
    position: absolute;
    background-color: var(--white-color);
    top: 118%;
    right: 0;
    width: 400px;
    height: fit-content;
    border:1px solid #D3D3D3;
    display: none;
    /* animation */
    animation: SignInGrowth ease-in-out 0.3s;
    will-change: opacity, transform;
    transform-origin: 90% top;
}
.header__notify::before{
    content: "";
    /* border: 20px solid; */
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: -2px;
    
}
.header__notify::after{
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 100px;
    /* background-color: aqua; */
    top: -15px;
    right: 0;    
}
.header__notify-header{
    background-color: var(--white-color);
    height: 40px;
    cursor: default;
    user-select: none;
}
.header__notify-header h3{    
    margin: 0px 0px 0px 15px;
    line-height: 40px;
    color: #a4a3a3;
    font-weight: 300;
    font-size: 1.7rem;
}
.header__notify-list{
    padding: 0;
    background-color: rgb(255, 177, 137);
    height: fit-content;    
}
.header__notify-list:hover{
    background-color: rgb(255, 177, 137, 0.1);
}
/* .header__notify-items{
    
} */
/* .header__notify-list--viewed{
    background-color: rgb(255, 177, 137, 0.1);
} */
.header__notify-items-link{
    display: flex;
    text-decoration: none;    
}
.header__notify-items-link-img{
    width: 30px;
    object-fit: contain;    
    margin: 0 5px;
}
/* .header__notify-items-link-info{
    
} */
.header__notify-items-link-info-title{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);    
}
.header__notify-items-link-info-describe{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--text-color);
    text-align: justify;
}
.paragrap{
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 5px;
}
/* Footer */
.header__notify-footer{
    display: flex;
}
.header__notify-footer--viewAll{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 25px;
    margin: auto;
    font-weight: 400;
    padding: 0 100px;
}
.header__notify-footer--viewAll:hover{
    color: rgba(110, 110, 110, 0.7);
}
.header__navbar-item--show:hover .header__notify{
    display: block;
    z-index: 1;
}
/* Tạo lớp ẩn mờ Modal */
/* .modal__body{
    
}
.modal__inner{

} */
/* Tạo Form đăng ký, đăng nhập */
.auth-form{
    width: 500px;
    
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 28px 12px;   
}
.auth-form__header-sign-in{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
}

.auth-form__switch-btn-login{
    font-size: 1.6rem;
    font-weight: 550;
    color: var(--main-color);
    text-decoration: none;    
}
.auth-form__switch-btn-login:hover{
    color: rgba(252, 97, 50, 0.7);
}

.auth-form__input{
    width: 100%;
    height: 3rem;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
    border: 1px solid rgba(110, 110, 110, 0.3);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:hover{
    border-color: #a4a3a3;
}
.auth-form__note{
    margin: 20px 5px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}
.auth-form__note-title{
    margin: 0;
}
.auth-form__note-title-link{
    text-decoration:  none;
    color:  var(--main-color);
    font-weight: 450;
}
.auth-form__note-title-link:hover{
    color: rgba(252, 97, 50, 0.7);
}
.auth-form__controls{
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-space{
    margin-right: 8px;
}
.auth-form__controls-space:hover{
    background-color: #a4a3a3;
}
/* Link google và facebook */
.auth-form__socials{    
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    font-size: 1.4rem;    
    display: flex;
    /* justify-content: space-between; */    
    justify-content: space-around; 
    align-items: center; 
    border-radius: 5px;
}
.btn.btn--social-facebook{
    text-decoration: none;
    background-color: #273d6b;
    color: var(--white-color); 
    padding: 8px;
    
}
.btn.btn--social-google{
    text-decoration: none;
    padding: 8px 8px;
    color: var(--text-color);
    font-weight: 450;
}
.fa-brands{
    font-size: 1.8rem;
    margin-right: 20px; 
}
.fa-brands.fa-google{
    color: #4285f4;
}
.auth-form__note-login{
    position: relative;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
}
.auth-form__note-forget{
    text-decoration: none;
    color: var(--main-color);
    font-weight: 450;
    margin: 0 20px;
}
.auth-form__note-forget::after{    
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: rgba(110, 110, 110, 0.7); 
    top: 0;
    right:calc((89.297px / 2) + 40px);
}
.auth-form__note-help{
    text-decoration: none;
    color: var(--text-color);
}
/* CSS thanh tìm kiếm */
.haeder__land-search{
    display: flex;
    justify-content: space-between;  
    margin-top: 20px; 
      
}
.land-search__logo-main{
    display: flex;
}
.lologo-main--shopee{    
    font-size: 40px;
    color: var(--white-color);
    margin-left: 10px;
    
}
.logo-main__title{
    font-size: 3rem;
    margin: 0;
    color: var(--white-color);
    font-weight: 500;
    margin-top: 16px;
    cursor: default;
}
/*  */
.land-search__search{
    display: flex;
    position: relative;
    /* padding: 3px 5px; */
    
}
.search__items-box{
    min-width: 750px;
    height: 36px;
    font-size: 1.3rem;
    border-radius: 2px;
    border-color: rgba(110, 110, 110, 0.2);
    outline: none;
}
.search__items-btn{
    position: absolute;
    font-size: 1.8rem;
    top: 4px;
    right: 5px;
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;    
}
.search__items-btn:hover{
    background-color: rgba(245, 71, 27, 0.7)
}
.land-search__logo-cart{
    font-size: 25px;
    color: var(--white-color);
    cursor: pointer;
    margin-top: 14px;
    margin-right: 90px;
}
.land-search__logo-cart:hover{
    color: rgba(255,255,255, 0.7);
}
.search__in-shop{
    display: flex;
    position: absolute;
    top: 10px;
    right: 50px;    
    cursor: pointer;
}
.search__in-shop:hover .search__in-shop__options{
    display: block;
}
.search__in-shop--title,
.search__in-shop--icon{
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 500;
}
.search__in-shop--title:hover,
.search__in-shop--icon:hover{
    color: rgba(158, 156, 156, 0.7);
}
.search__in-shop--icon{
    margin: 0 10px;
}
.search__in-shop::before{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 18px;
    background-color: rgba(84, 87, 84, 0.356);
    /* right: -11px;
    top: 0; */
    margin: 0 -10px;
}
.search__in-shop__options{
    position: absolute;
    width: 105px;
    height: 65px;
    background-color: var(--white-color);
    padding: 0;    
    margin-top: 30px;
    border-radius: 2px;
    border: 1px solid rgba(110, 110, 110, 0.3);
    display: none;
}
.shop__options--list{
    display: flex;
    font-size: 1.3rem;
    font-weight: 450;
    color: var(--text-color);
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.shop__options--list:hover{
    color: rgba(158, 156, 156, 0.7);
}
.list-in--icon,
.list-out--icon{
    color: var(--main-color);
}
/* Cầu nối của button "trong shop" khi hover vào */
.search__in-shop::after{
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 120px;
    /* background-color: aqua; */
    top: 15px;
    right: -8px;
}
.shop__options--list-in,
.shop__options--list-out
{
    margin-right: 5px;
}
/* Ô lịch sử tìm kiếm */
.land-search__history{
    position: absolute;
    width: 79%;
    height: fit-content;
    top: 40px;
    border: 1px solid rgba(110, 110, 110, 0.3);
    border-radius: 3px;
    display: none;
}
.land-search__history-header{
    position: absolute;
    width: 100%;
    height: 32px;
    background-color: #c0b9b9;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.search__history-items-lists{
    margin-top: 32px;
    /* line-height: 2.5rem; */
    font-size: 1.3rem;
    color: var(--text-color);
    cursor: pointer;
    padding-left: 0;
}
.history-items-lists--around{
    display: flex;
    align-items: center;    
    height: 30px;
    /* background-color: #e63d3d; */
}
.history-items-lists--around:hover{
    background-color: #e7e2e2;
}
.history-items-list{
    list-style: none;
    margin-left: 10px;
}
.search__items::after{
    position: absolute;
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    /* background-color: aqua; */
    /* z-index: 5; */
    /* top: 15px;
    right: -8px; */
}
.search__items-box:focus ~ .land-search__history{
    display: block;
}







